<!--<body style="background-color: #e6e6e6;">
  <p>
      <mat-toolbar color="primary" class="first-tool-bar">  
        <div class="flex-item">
              <mat-nav-list fxLayout="row">
                <button mat-button mat-list-item (click)="onVisit()" class="ref-element" style="margin-left: auto; margin-top: 14px; border: solid 2px; border-radius: 20px;">
                    Moje wizyty
                </button>
              </mat-nav-list>
        </div>
        <div class="flex-item" fxFlex fxLayoutAlign="end start" style="margin-top: 7px;">
            <mat-accordion >
                <mat-expansion-panel hideToggle style="background-color: #283593">
                    <mat-expansion-panel-header >
                      <mat-panel-title class="ref-element" style="margin-right: 0; color: white; " >
                        {{userName}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-button mat-list-item (click)="onLogOut()" class="ref-element" style="margin-left: auto; color: white; ">
                        Wyloguj się
                      </button>
                  </mat-expansion-panel>
            </mat-accordion>
        </div>
  
      </mat-toolbar>
    </p> 

    <div *ngIf="loadVisit">
      <table mat-table [dataSource]="dataVisit" class="mat-elevation-z8">
        
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Numer wizyty </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="room">
          <th mat-header-cell *matHeaderCellDef> Gabinet </th>
          <td mat-cell *matCellDef="let element"> {{element.room}} </td>
        </ng-container>

        <ng-container matColumnDef="doctor">
          <th mat-header-cell *matHeaderCellDef> Lekarz </th>
          <td mat-cell *matCellDef="let element"> {{element.doctor.name + " " + element.doctor.surname}} </td>
        </ng-container>

        <ng-container matColumnDef="prescription">
          <th mat-header-cell *matHeaderCellDef> Recepta </th>
          <td mat-cell *matCellDef="let element"> <button mat-flat-button color="primary" (click)="openDialog(element.id)">Pokaż szczegóły</button> </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </body>
  
-->








<body>
  <div style="height: 100%; overflow: hidden;">
    <mat-toolbar color="primary" >
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
          <mat-icon fxShow="true" fxHide.gt-sm style="margin-left: auto;">person</mat-icon>
          <span fxShow="true" fxHide.gt-sm  style="margin-left: 2px;">{{userName}}</span>
        <div fxShow="true" fxHide.lt-md fxFlex>
           <!--The following menu items will be hidden on both SM and XS screen sizes -->

            <mat-nav-list fxLayout="row" fxLayoutAlign="center">
              <mat-list fxFlex>
                <mat-list-item>
                  <button mat-button (click)="onVisit()" class="button-data">
                    <mat-icon style="margin-bottom: 4px;"> table_chart</mat-icon>
                    Zakończone wizyty
                  </button>
                  <button mat-button (click)="onNewVisit()" class="button-data">
                    <mat-icon style="margin-bottom: 4px;"> add_box</mat-icon>
                    Ustal wizytę
                  </button>
                  <button mat-button [matMenuTriggerFor]="stationMenu" class="button-logout">
                    <mat-icon>person</mat-icon>
                    {{userName}}
                  </button>
                  <mat-menu #stationMenu="matMenu" xPosition="before">
                    <!--<button mat-menu-item class="mat-button">
                      <mat-icon>settings</mat-icon>
                      Ustawienia
                    </button>-->
                    <button mat-menu-item (click)="onLogOut()" class="mat-button">
                      <mat-icon>logout</mat-icon>
                      Wyloguj się
                    </button>
                  </mat-menu>

                </mat-list-item>
              </mat-list>
            </mat-nav-list>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav style="background: #3F51B5;">
        <mat-nav-list>
          <mat-list>

            <mat-list-item style="margin-top: 20px;">
              <button mat-button (click)="onVisit()" (click)="sidenav.toggle()" style="color: white;">
                <mat-icon style="margin-bottom: 4px;"> table_chart</mat-icon>
                Zakończone wizyty
              </button>
            </mat-list-item>
            
            <mat-list-item style="margin-top: 20px;">
              <button mat-button (click)="onNewVisit()" (click)="sidenav.toggle()" style="color: white;">
              <mat-icon style="margin-bottom: 4px;"> add_box</mat-icon>
                Ustal wizytę
              </button>
            </mat-list-item>
            
            <mat-list-item style="padding-top: 20px;">
              <button mat-button (click)="onLogOut()" style="color: #b8cef2;"> 
                <mat-icon>logout</mat-icon>
                Wyloguj się
              </button>
            </mat-list-item>
          </mat-list>
        </mat-nav-list>
      </mat-sidenav>;
      <mat-sidenav-content fxFlexFill class="background">

        <div *ngIf="loadVisit" style="min-width: 500px;">
          <table mat-table [dataSource]="dataVisit" class="mat-elevation-z8">
            
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Numer wizyty </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
    
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Data </th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
    
            <ng-container matColumnDef="room">
              <th mat-header-cell *matHeaderCellDef> Gabinet </th>
              <td mat-cell *matCellDef="let element"> {{element.room}} </td>
            </ng-container>
    
            <ng-container matColumnDef="doctor">
              <th mat-header-cell *matHeaderCellDef> Lekarz </th>
              <td mat-cell *matCellDef="let element"> {{element.doctor.name + " " + element.doctor.surname}} </td>
            </ng-container>
    
            <ng-container matColumnDef="prescription">
              <th mat-header-cell *matHeaderCellDef> Recepta </th>
              <td mat-cell *matCellDef="let element"> <button mat-flat-button color="primary" (click)="openDialog(element.id)">Pokaż szczegóły</button> </td>
            </ng-container>
            
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <div *ngIf="loadNewVisit" fxLayoutAlign="center center" class="main-div">
          <mat-card fxFlex="350px" style="margin-top: 30px; padding: auto;" >
  
            <form [formGroup]="newVisitForm" (ngSubmit)="onSubmitNewVisit()" fxLayoutAlign="streatch" fxLayout="column">
              <mat-form-field class="example-full-width" appearance="fill" class="register-form">
                <mat-label>Specjalizacja</mat-label>
                <input type="text"
                        placeholder="Wybierz"
                        aria-label="Number"
                        matInput
                        [formControl]="newVisitControl"
                        [matAutocomplete]="auto"
                        formControlName="specialty" 
                        required>
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSpecialitySelect()">
                    <mat-option *ngFor="let option of filteredOptionsSpecialty | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
              </mat-form-field>

              <div *ngIf="isSpecialitySelected">
                <mat-form-field class="example-full-width" appearance="fill" class="register-form">
                  <mat-label>Lekarz</mat-label>
                  <input type="text"
                          placeholder="Wybierz"
                          aria-label="Number"
                          matInput
                          [formControl]="newVisitControl"
                          [matAutocomplete]="auto"
                          formControlName="user" 
                          required>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
                      <mat-option *ngFor="let option of filteredOptionsDoctor | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                
              </div>
              
  
              <mat-form-field class="example-full-width" appearance="fill" class="register-form">
                <input matInput [ngxMatDatetimePicker]="picker" placeholder="Wybierz datę *" formControlName="date" required>             
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>        
                <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
              </mat-form-field>
              
              <div class="confirm-visit">
                <button mat-raised-button class="register-form" color="primary">
                  Potwierdz
                 </button>
              </div>             
            </form>
          </mat-card> 
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>






  
  
<router-outlet></router-outlet>