<body style="background-color: #e6e6e6;">
    <p>
      <mat-toolbar color="primary" class="first-tool-bar">  
        <div class="flex-item">
              <mat-nav-list fxLayout="row">
                <button mat-button mat-list-item (click)="onVisit()" class="ref-element" style="margin-left: auto; margin-top: 14px; border: solid 2px; border-radius: 20px;">
                    Moje wizyty
                </button>
              </mat-nav-list>
        </div>
        <div class="flex-item" fxFlex fxLayoutAlign="end start" style="margin-top: 7px;">
            <mat-accordion >
                <mat-expansion-panel hideToggle style="background-color: #283593">
                    <mat-expansion-panel-header >
                      <mat-panel-title class="ref-element" style="margin-right: 0; color: white; " >
                        {{userName}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-button mat-list-item (click)="onLogOut()" class="ref-element" style="margin-left: auto; color: white; ">
                        Wyloguj się
                      </button>
                  </mat-expansion-panel>
            </mat-accordion>
        </div>
  
      </mat-toolbar>
    </p> 

    <div *ngIf="loadVisit">
      <table mat-table [dataSource]="dataVisit" class="mat-elevation-z8">
        
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Numer wizyty </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="room">
          <th mat-header-cell *matHeaderCellDef> Gabinet </th>
          <td mat-cell *matCellDef="let element"> {{element.room}} </td>
        </ng-container>

        <ng-container matColumnDef="doctor">
          <th mat-header-cell *matHeaderCellDef> Lekarz </th>
          <td mat-cell *matCellDef="let element"> {{element.doctor.name + " " + element.doctor.surname}} </td>
        </ng-container>

        <ng-container matColumnDef="prescription">
          <th mat-header-cell *matHeaderCellDef> Recepta </th>
          <td mat-cell *matCellDef="let element"> <button mat-flat-button color="primary" (click)="openDialog(element.id)">Pokaż szczegóły</button> </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </body>
  
  
  
<router-outlet></router-outlet>