.button-close {
    float: right; 
    margin-bottom: 1px;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.title {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

button:hover {
    background: #990b00;
  }

table {
    width: 100%;
    overflow: auto;
}

.table-element {
    font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;
  }

.background {
    background-image: url('src/assets/background.jpg');
    background-size: cover;
  }
