.main-div mat-card {
    padding: 10px;
    border-radius: 10px;
}

.register-form {
    padding: 10px;
    font: 500 16px/20px Roboto, "Helvetica Neue", sans-serif;

}

.ref-element {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}